body {
    animation: fadeIn 0.2s ease-in-out;
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#lista {
    margin-left: 25px;
}

#lista > li {
    position: relative;
    margin-bottom: 20px;
    padding-right: 50px;
}

#lista > li > svg.remove {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}